:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;

  color: rgba(255, 255, 255, 0.87);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  display: grid;
  min-height: 100vh;
  grid-template-rows: 15vh auto;
}

#barra-navegacion {
  background-color: #566573;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#principal {
  background-color: #2E4053;
  display: flex;
  justify-content: center;
  align-items: center;
}

#card {
  background-color: #566573;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  height: 200px;
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

input {
  height: 40px;
  background: none;
  border: none;
  text-decoration: none;
  outline: none;
  font-size: 18px;
  color: #fff;
  border-bottom: 2px solid lightgrey;
}

button:hover {
  color: #2E4053;
  background-color: #e6e6e6;
  left: .1em;
}

button {
  background-color: transparent;
  color: white;
  font-size: 16px;
  font-weight: bold;
  border: solid 1px #fff;
  cursor: pointer;
  height: 40px;
  transition-duration: 0.3s;
}

#contenedor_resultado {
  height: 75vh;
  width: 40vw;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(3, 1fr);
  gap: 15px;
}

.letra {
  background-color: #566573;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border-radius: 10px;
}

.txt-valor {
  margin: 0;
  font-size: 45px;
  text-align: center;
}

.txt-letra {
  margin: 0;
  font-size: 18px;
  text-align: center;
}


@media only screen and (max-width: 600px) {
  #contenedor_resultado {
    height: 150vh;
    width: 70vw;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 1fr);
  }

  .letra {
    border-radius: 0;
  }

  .superior {
    margin-top: 15px;
  }

  .inferior{
    margin-bottom: 15px;
  }

  #card {   
    width: 300px;
  }
}