<div class="contenedor-app">
    <div class="contenedor-nav">
        <p>VOCALES</p>
    </div>
    <div class="contenedor-subpanel">
        <div class="barra-lateral">
            <a [routerLink]="['/historicos']">
                <img src="assets/bd.svg" alt="Logo" class="logo">
                <p>Historicos</p>
            </a>

            <a [routerLink]="['']">
                <img src="assets/edit_document.svg" alt="Logo" class="logo">
                <p>Inicio</p>
            </a>
        </div>

        <div class="contenedor-panel-principal">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>