<div class="contenedor-historico">
    <table>
        <thead>
            <tr>
                <th>Texto</th>
                <th>Total Vocales</th>
            </tr>
        </thead>
        <tbody>
            @for (registro of vocales; track $index) {
            <tr (click)="dashboard($index)">
                <td>
                    {{registro.texto}}
                </td>
                <td>
                    {{total(registro.data)}}
                </td>
            </tr>
            }
        </tbody>
    </table>
</div>