<div class="contenedor-dashboard">
    <div class="fondo contenedor-grafico">
        <canvas baseChart [labels]="doughnutChartLabels" [datasets]="doughnutChartDatasets"
            [options]="doughnutChartOptions" [legend]="true" [type]="'doughnut'">
        </canvas>
    </div>

    @for (valor of vocales.data; track $index) {
    <div class="fondo" [style]="cards[$index].clase">
        <p class="titulo">{{cards[$index].titulo}}</p>
        <div class="contenedor-card">
            <p>{{valor}}</p>
        </div>
    </div>
    }

    <div class="fondo" [style]="'grid-area: ct'">
        <p class="titulo">TOTAL</p>
        <div class="contenedor-card">
            <p>{{totalVocales()}}</p>
        </div>
    </div>

    <div class="fondo" style="grid-area: txt;">
        <p class="texto">
            {{vocales.texto}}
        </p>
    </div>
</div>